{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{# ajusta a variáveis conforme novo ou edit #}
{% set id = result[0].id_cliente if result else '0' %}
{% set nome = result[0].nome if result else '' %}
{% set cpf = result[0].cpf if result else '' %}
{% set logradouro = result[0].logradouro if result else '' %}
{% set bairro = result[0].bairro if result else '' %}
{% set numero = result[0].numero if result else '' %}
{% set complemento = result[0].complemento if result else '' %}
{% set cidade = result[0].cidade if result else '' %}
{% set estado = result[0].estado if result else '' %}
{% set cep = result[0].cep if result else '' %}

{% block content %}

<h3 class="d-flex justify-content-center mb-5">Cliente - {{ "%s: %s" % ('Editar Registro', id) if result else 'Novo' }}
</h3>

<form name="{{ 'formEditar' if result else 'formAdicionar' }}" id="{{ 'formEditar' if result else 'formAdicionar' }}"
    class="row g-3 p-4 was-validated" action="{{ url_for('cliente.edit') if result else url_for('cliente.insert') }}"
    method="POST">
    <div class="col-md-2">
        <label for="id" class="form-label">Código</label>
        <input type="text" class="form-control" name="id" id="id" value="{{ id }}" placeholder="Código" readonly>
    </div>
    <div class="col-md-6">
        <div>
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" value="{{ nome }}"
                placeholder="Augusto Francisco Velho Lima Junior" maxlength="100" autofocus required>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <label for="cpf" class="form-label">CPF</label>
            <input type="text" class="form-control" id="cpf" name="cpf" value="{{ cpf }}" placeholder="000-000-000-00"
                maxlength="20" required>
        </div>
    </div>
    <div class="col-md-10">
        <label for="logradouro" class="form-label">Logradouro</label>
        <input type="text" class="form-control" id="logradouro" name="logradouro" value="{{ logradouro }}"
            placeholder="Rua Pastel com Coca" maxlength="100" required>
    </div>
    <div class="col-md-2">
        <label for="numero" class="form-label">Número</label>
        <input type="text" class="form-control" id="numero" name="numero" value="{{ numero }}" placeholder="nº 1234"
            maxlength="20" required>
    </div>
    <div class="col-md-6">
        <label for="complemento" class="form-label">Complemento</label>
        <input type="text" class="form-control" id="complemento" name="complemento" value="{{ complemento }}"
            placeholder="Casa dos fundos" maxlength="100" required>
    </div>
    <div class="col-md-6">
        <label for="bairro" class="form-label">Bairro</label>
        <input type="text" class="form-control" id="bairro" name="bairro" value="{{ bairro }}" placeholder="Guarujá"
            maxlength="100" required>
    </div>
    <div class="col-md-6">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="cidade" name="cidade" value="{{ cidade }}" placeholder="Lages"
            maxlength="100" required>
    </div>
    <div class="col-md-4">
        <label for="estado" class="form-label">Estado</label>
        <input type="text" class="form-control" id="estado" name="estado" value="{{ estado }}"
            placeholder="Santa Catarina" maxlength="50" required>
    </div>
    <div class="col-md-2">
        <label for="cep" class="form-label">CEP</label>
        <input type="text" class="form-control" id="cep" name="cep" value="{{ cep }}" placeholder="00.000-000"
            maxlength="15" required>
    </div>
    <div class="p-4">
        <button type='submit' name='salvaUsuarioDB' id='salvaUsuarioDB' class="btn btn-primary"><i
                class='fas fa-save'></i>
            Salvar</button>
    </div>
</form>


{% endblock %}