{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}

<h1>Cadastrar Cliente</h1>

<form class="row g-3 p-4">
    <div class="col-md-6">
        <div>
            <label for="inputNome" class="form-label">Nome</label>
            <input type="email" class="form-control" id="inputNome" placeholder="Augusto Francisco Velho Lima Junior">
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <label for="inputCpf" class="form-label">CPF</label>
            <input type="text" class="form-control" id="inputCpf" placeholder="000-000-000-00">
        </div>
    </div>
    <div class="col-md-10">
        <label for="inputAddress" class="form-label">Logradouro</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Rua Pastel com Coca">
    </div>
    <div class="col-md-2">
        <label for="inputNumeroCasa" class="form-label">Número</label>
        <input type="text" class="form-control" id="inputNumeroCasa" placeholder="nº 1234">
    </div>
    <div class="col-md-6">
        <label for="inputComplemento" class="form-label">Complemento</label>
        <input type="text" class="form-control" id="inputComplemento" placeholder="Casa dos fundos">
    </div>
    <div class="col-md-6">
        <label for="inputBairro" class="form-label">Bairro</label>
        <input type="text" class="form-control" id="inputNumeroCasa" placeholder="Guarujá">
    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="inputCity" placeholder="Lages">
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">Estado</label>
        <select id="inputState" class="form-select">
            <option selected>Santa Catarina</option>
            <option>...</option>
        </select>
    </div>
    <div class="col-md-2">
        <label for="inputCep" class="form-label">CEP</label>
        <input type="text" class="form-control" id="inputCep" placeholder="00.000-000">
    </div>
</form>
<div class="p-4">
    <a href="{{ url_for('index.formIndex') }}" class="btn btn-secondary mt-3 col-md-12">Salvar</a>
</div>

{% endblock %}