{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}
<div class="container">
    <h1>Clientes</h1>
    <form action="{{ url_for('cliente.formCliente') }}" method="POST">
        <a href="{{ url_for('cliente.formCliente') }}" type="submit" name="formNovoCliente"
            class="btn btn-secondary mt-3">Novo Cliente</a>
    </form>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Matricula</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Grupo</th>
                    <th scope="col">Senha</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">...</th>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td><i class="fas fa-edit" style="margin-right: 18px;"></i><i class="fas fa-trash"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="{{ url_for('index.formIndex') }}" class="btn btn-secondary mt-3">Voltar</a>
</div>
{% endblock %}