<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %} - Comanda APP</title>

  {% block style %}{% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.3-dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.5.2-web/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='sweetalert2/dist/sweetalert2.min.css') }}">

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <script src="{{ url_for('static', filename='jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap-5.3.3-dist/js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap-5.3.3-dist/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='fontawesome-free-6.5.2-web/js/all.js') }}"></script>
  <script src="{{ url_for('static', filename='sweetalert2/dist/sweetalert2.all.min.js') }}"></script>

</head>

<body class="bg-tertiary">
  {% block menu %}
  <nav class="navbar navbar-expand-lg bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" style="color:beige;" href="#">
        <h2>Abc Bolinhas</h2>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" style="color: beige;" aria-current="page"
              href="{{ url_for('index.formIndex') }}">
              <i class="fa-solid fa-house-chimney"></i> Início
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: beige;" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa-solid fa-users-line"></i> Funcionários
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('funcionario.formFuncionario') }}">Cadastrar Funcionário</a>
              </li>
              <li><a class="dropdown-item" href="{{ url_for('funcionario.formListaFuncionario') }}">Listar
                  Funcionario</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: beige;" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa-solid fa-users"></i> Clientes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('cliente.formCliente') }}">Cadastrar Cliente</a></li>
              <li><a class="dropdown-item" href="{{ url_for('cliente.formListaCliente') }}">Listar cliente</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: beige;" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa-solid fa-bag-shopping"></i> Produtos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('produto.formProduto') }}">Cadastrar Produto</a></li>
              <li><a class="dropdown-item" href="{{ url_for('produto.formListaProduto') }}">Listar Produto</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <a href="{{ url_for('login.logoff') }}"><i class="fas fa-door-open"></i> SAIR</a>
        </form>
      </div>
    </div>
  </nav>

  {% endblock %}


  <!-- redirect - request.args.get('msg' ou 'msgErro') -->
  {% if request.args.get('msg'): %}
  <h3>{{ request.args.get('msg') }}</h3><br>
  <script>
    Swal.fire("Sucesso", "{{ request.args.get('msg') }}", "success");
  </script>

  {% elif request.args.get('msgErro'): %}
  <h3>{{ request.args.get('msgErro') }}</h3><br>
  <script>
    Swal.fire("Erro", "{{ request.args.get('msgErro') }}", "error");
  </script>

  <!-- render_template - msg ou msgErro -->
  {% elif msg: %}
  <h3>{{ msg }}</h3><br>
  <script>
    Swal.fire("ID {{ msg.id }}, {{ msg.msg }} ", "{{ msg }}", "success");
  </script>

  {% elif msgErro: %}
  <h3>{{ msgErro }}</h3><br>
  <script>
    Swal.fire("{{ msgErro.msg if msgErro.msg else 'Erro' }}", "{{ msgErro }}", "error");
  </script>

  {% endif %}

  <div class="container-fluid mt-3">
    {% block content %}{% endblock %}
    <br><br><br>
  </div>

  {% block footer %}
  <div>
    <a href="{{ url_for('index.formIndex') }}">&copy; 2024 by AbcBolinhas</a>
  </div>
  {% endblock %}

  {% block js %}{% endblock %}


</body>

</html>