{% extends "base.html" %}

{% block title %}Produtos{% endblock %}

{% block content %}
<div class="container">
    <h1>Produtos</h1>
    <form action="{{ url_for('produto.formProduto') }}" method="POST">
        <a href="{{ url_for('produto.formProduto') }}" type="submit" name="formNovoProduto"
            class="btn btn-secondary mt-3">Novo Produto</a>
    </form>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% if result %}
                {% for row in result %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{ row['nome'] }}</td>
                    <td>{{ row['descricao'] }}</td>
                    <td>{{ row['valor_unitario'] }}</td>
                    <td><i class="fas fa-edit" style="margin-right: 18px;"></i><i class="fas fa-trash"></i></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <a href="{{ url_for('index.formIndex') }}" class="btn btn-secondary mt-3">Voltar</a>
</div>
{% endblock %}