{% extends "base.html" %}

{% block title %}Funcionário{% endblock %}

{% block content %}
<form name="formAdicionar" id="formAdicionar" action="" method="POST" class="row g-3 p-4">
    <h1>Cadastrar Funcionário</h1>

    <div class="col-md-2">
        <img style="width: 154px; height: 164px;" src="../../static/Monster404Error.png">
    </div>
    <div class="col-md-4">
        <div style="margin-top: 100px;">
            <label for="id" class="form-label">Código</label>
            <input type="text" class="form-control" id="id" value="" placeholder="Código" readonly>
        </div>
    </div>
    <div class="col-md-6">
        <div style="margin-top: 100px;">
            <label for="nome" class="form-label">Nome Funcionário</label>
            <input type="text" class="form-control" id="nome" value="" placeholder="Nome Funcionário" maxlength="100"
                autofocus required>
        </div>
    </div>
    <div class="col-md-6">
        <div style="margin-top: 20px;">
            <label for="matricula" class="form-label">Matrícula</label>
            <input type="text" class="form-control" id="matricula" value="" placeholder="Matrícula" maxlength="15"
                required>
        </div>
    </div>
    <div class="col-md-6">
        <div style="margin-top: 20px;">
            <label for="cpf" class="form-label">CPF</label>
            <input type="text" class="form-control" id="cpf" value="" placeholder="CPF" maxlength="15" required>
        </div>
    </div>
    <div class="col-md-6">
        <div style="margin-top: 20px;">
            <label for="telefone" class="form-label">Telefone</label>
            <input type="tel" class="form-control" id="telefone" value="" placeholder="Telefone" maxlength="15"
                required>
        </div>
    </div>
    <div class="col-md-6">
        <div style="margin-top: 20px;">
            <label for="grupo" class="form-label">Grupo</label>
            <select name="grupo" id="grupo" class="form-select" aria-label="Grupo">
                <option value="0">Atendente</option>
                <option value="1">Caixa</option>
                <option value="2">Adm</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div style="margin-top: 20px;">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senha" value="Bolinhas" placeholder="Senha" required>
        </div>
    </div>
    <div class="col-md-6">
        <div style="margin-top: 20px;">
            <label for="resenha" class="form-label">reSenha</label>
            <input type="password" class="form-control" id="resenha" value="Bolinhas" placeholder="Senha" required>
        </div>
    </div>
    <div class="col-md-6">
        <div style="margin-top: 20px;">
            <button type='submit' name='salvaUsuarioDB' id='salvaUsuarioDB' class="btn btn-primary"><i
                    class='fas fa-save'></i> Salvar</button>
        </div>
    </div>
</form>
<a href="{{ url_for('index.formIndex') }}" class="btn btn-secondary mt-3">Voltar</a>
{% endblock %}