{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block menu %}
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h2>Abc Bolinhas</h2>
        </a>
    </div>
</nav>

<h1>Página inicial irmão!</h1>

<ul class="list-group">
    <li class="list-group-item"><a href="{{ url_for('index.formIndex') }}">Home</a></li>
    <li class="list-group-item"><a href="{{ url_for('funcionario.formListaFuncionario') }}">Funcionário</a></li>
    <li class="list-group-item"><a href="{{ url_for('cliente.formListaCliente') }}">Cliente</a></li>
    <li class="list-group-item"><a href="{{ url_for('produto.formListaProduto') }}">Produto</a></li>
</ul>

{% if 'login' in session %}
{{ session['nome'] }}, grupo {{ session['grupo'] }}<br>
{{ session['token_type'] }}, {{ session['token_validade'] }}<br>
Token: {{ session['access_token'] }}
{% endif %}

</div>

{% endblock %}